{% extends 'shop_app/base.html' %}
{% block content %}

<!--Body-->

<div class="row mt-3">
<div class="col-md-6 d-md-block  pt-4 pb-2" id="secondrow">

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
{#        <li class="breadcrumb-item"><a href="{% url 'cart'  %}">Cart</a></li>#}
        <li class="breadcrumb-item active" aria-current="page" >Shipping</li>
      </ol>
    </nav>

</div>

<div class="col-md-6 d-md-block  justify-content-center pt-1" id="secondrow">
        <form action="" class="form-inline col-12 col-md-auto pt-4 ml-auto">
            <label for="sortBy" class="mr-2 pt-1 ml-auto col-md-auto d-md-block d-none">Sort By</label>
            <select class="custom-select col-md-auto d-md-block d-none pt-1" id="sortBy">
                <option value="1">Price: Low to High</option>
                <option value="2">Price: High to Low</option>
                <option value="3">Latest</option>
            </select>
        </form>
</div>
</div>
<!--Breadcrumb-->

<h3 class="m-0 p-3 font-weight-bold alert-secondary d-flex justify-content-center " id="ford">Shipping</h3>
<div class="container-fluid border-white border">
  <form>
  <div class="form-group d-md-flex justify-content-around">
    <input type="text" class="form-control  mt-2  " placeholder="First Name*">
    <input type="text" class="form-control  mt-2  " placeholder="Last Name*">
    <input type="text" class="form-control  mt-2 d-none d-md-block " placeholder="Middle Name">
  </div>
  <div class="form-group d-md-flex justify-content-around">
    <input type="Email" class="form-control   mt-2 " placeholder="Email*">
    <input type="number" class="form-control  mt-2  " placeholder="Phone*">
    <input type="text" class="form-control   mt-2 d-none d-md-block " placeholder="Company">
  </div>
  <div class="form-group d-md-flex justify-content-around">
    <input type="text" class="form-control   mt-2 " placeholder="Country*">
    <input type="textr" class="form-control  mt-2  " placeholder="City*">
    <input type="text" class="form-control   mt-2 d-none d-md-block " placeholder="State">
    <input type="text" class="form-control   mt-2  " placeholder="Postal Code*">
  </div>
  <div class="form-group d-md-flex justify-content-around">
    <input type="text" class="form-control   mt-2  " placeholder="Address*">
  </div>
</form>
<div class="row d-flex justify-content-end">
  <button type="button" class="btn  mr-3 mb-3 mt-3" id="button"><a href="{% url 'payment' %}" class="text-light">Payment</a></button>
</div>
</div>


{% endblock %}